  /* Header */
  
  .header {
    height: 30px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    z-index: 3;
  }
  
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 12px;
  }
  
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
    border-radius: 0;
  }

  
  /* Menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 14px 14px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: fit-content;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  /* Wide Screen */
  
  @media (min-width: 48em) {

    .header li {
      float: left;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .header ul {
      margin-top: -6px;
     }
     .header .menu {
      padding-right: 1vw;
    }
    
    
  }
